@font-face {
	font-family: 'Newsgeek';
	src: local('NwsGkSns'), url('NwsGkSns.ttf') format('truetype');
}

:root {
	font-size: 5vw;
	font-family: 'Newsgeek', Arial Black, sans-serif;
	letter-spacing: 0.0375rem;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.body {
	width: 80%;
	display: block;
}

.container {
	margin: 2rem;
}

a:link {
	color: steelblue;
}
a:visited {
	color: steelblue;
}
a:hover {
	color: palevioletred;
}
a:active {
	color: yellowgreen;
}

.title {
	font-size: 3rem;
}

.texto.container,
.respostas.container {
	margin: 2rem;
}

.texto.principal {
	height: fit-content;
}

.opcoes.container {
	display: flex;
	flex-direction: column;
}

.paginacao.wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.botao {
	font-family: 'Newsgeek';
	font-size: 1.5rem;
	color: white;
	background-color: #333;
	border: none;
	border-radius: 0.375rem;
	box-shadow: inset 0.1rem 0.1rem white, 0.1rem 0.1rem black;
}
.paginacao.botao {
	height: 1.5rem;
	width: 2rem;
	position: relative;
}

.avancar {
	margin: 0;
	margin-left: auto;
}

.botao > span {
	position: absolute;
	top: 60%;
	left: 57%;
	transform: translate(-50%, -50%);
}

.botao.enviar {
	font-size: 1rem;
	width: 100%;
	display: none;
	padding-top: 0.5rem;
}

.rotulo {
	display: block;
	padding: 0.25rem;
	margin: 0.25rem;
	cursor: pointer;
}

/* input {
	width: 0;
	height: 0;
} */

input[type='radio']:not(:checked) + label {
	margin-left: 2.75rem;
}

.footer {
	width: fit-content;
	text-align: center;
}

.com_amor {
	font-size: 0.9625rem;
	text-shadow: -0.0625rem -0.0625rem 0 #fff, 0.0625rem -0.0625rem 0 #fff,
		-0.0625rem 0.0625rem 0 #fff, 0.0625rem 0.0625rem 0 #fff;
}

.opcoes.container.invisivel {
	display: none;
}

@media (min-width: 481px) {
	:root {
		font-size: 2vh;
	}
	.body {
		width: 100%;
	}
	.texto.container,
	.respostas.container {
		margin: 1rem 4rem;
	}
	.conteudo.principal,
	header.container {
		margin: 4rem;
	}
	footer.container {
		margin: auto;
		margin-bottom: 4rem;
	}
}