@font-face {
	font-family: 'Newsgeek';
	src: local('NwsGkSns'), url('NwsGkSns.ttf') format('truetype');
}

:root {
	font-size: 4.125vw;
	font-family: 'Newsgeek', Arial Black, sans-serif;
	letter-spacing: 0.075rem;
}

body {
	margin: 0;
	display: block;
}
main {
	margin: 10vh 3vh 3vh;
}

/* ~~~~~ Containers ~~~~ */
.quiz--wrapper {
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.quiz--inject {
	line-height: 120%;
	width: 90%;
	height: 55vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 3vh auto 5vh;
	position: relative;
}
/* Slide Styles */
.slide {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.slide-ativo {
	height: 100%;
	display: block;
	opacity: 1;
	z-index: 0;
}
/* Pergunta */
.slide .pergunta {
	font-size: 1rem;
	display: block;
	margin-bottom: 5vh;
}
/* Respostas */
.slide .respostas {
	font-size: 0.75rem;
}
.respostas div {
	display: flex;
	margin: 1vh 0;
}
.slide-ativo > .respostas > div:not(:last-of-type) > .rotulo {
	box-shadow: 0 0.0625rem whitesmoke;
}

/* Estilos de Label */
.respostas label.rotulo {
	width: 100%;
	padding: 0.5rem 1rem;
	padding-top: 0.75rem;
	display: inline-block;
	cursor: pointer;
	transition: background-color 400ms;
}
input[type='radio'] {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}
input[type='radio']:focus + label {
	color: white;
	background-color: palevioletred;
}
input[type='radio']:checked + label {
	color: white;
	background-color: yellowgreen;
}

.paginacao {
	display: flex;
	justify-content: space-between;
}
.paginacao .avancar {
	margin-left: auto;
}
.enviar,
.paginacao {
	margin: 0.25rem;
}

/* Estilos de Link */
a {
	transition: background-color 400ms;
}
a:link {
	color: steelblue;
}
a:visited {
	color: steelblue;
}
a:hover {
	text-shadow: none;
	padding: 0.25rem;
	padding-top: 0.375rem;
}
a:active {
	padding: 0.25rem;
	padding-top: 0.375rem;
}

/* Estilos de Botão */
.frame {
	position: relative;
}
.enviar button {
	font-size: 1rem;
	width: 8rem;
	display: none;
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
}
button > span {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.paginacao button span {
	font-size: 1rem;
	left: 55%;
}

/* Efeitos de Clique */
button {
	font-family: 'Newsgeek';
	font-size: 1.5rem;
	color: white;
	background-color: #333;
	height: 1.5rem;
	width: 2rem;
	margin: 0.125rem;
	border: none;
	border-radius: 0.375rem;
	position: relative;
	box-shadow: 0.1rem 0.1rem black;
	transition: background-color 400ms;
}
button:hover,
a:hover,
.rotulo:hover {
	color: white;
	background: palevioletred;
	box-shadow: 0.125rem 0.125rem #690033;
}
button:active,
a:active,
.rotulo:active {
	color: black;
	background-color: yellowgreen;
	box-shadow: 0.0625rem 0.0625rem black;
}

/* Estilos em geral */
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header h1 {
	font-size: 1.125rem;
	padding: 0.5rem;
	margin: 0.5rem;
}
.header .placar {
	padding: 0.5rem 2rem;
	margin: 0.5rem;
}

footer {
	width: fit-content;
	margin: auto;
	margin-top: 1rem;
}

.com-amor {
	font-size: 0.9625rem;
	text-shadow: -0.0625rem -0.0625rem 0 #fff, 0.0625rem -0.0625rem 0 #fff,
		-0.0625rem 0.0625rem 0 #fff, 0.0625rem 0.0625rem 0 #fff;
}

.slide_resultado {
	height: 80%;
	width: auto;
}
.slide_resultado [class^='porcentagem'] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: auto;
}
.slide [class^='porcentagem'] img {
	margin: auto;
	max-width: 100%;
	height: auto;
	margin: 0;
	border: solid 0.25rem #333;
	border-radius: 0.125rem;
	cursor: help;
}
.slide [class^='porcentagem'] span {
	display: inline-block;
	margin: 2vh 0;
}

/* ~~~~~~~~~~~ PORTRAIT ~~~~~~~~~~~~ */

@media (min-width: 410px) and (orientation: portrait) {
	:root {
		font-size: 2.25vh;
	}
	main {
		margin: 10vh 3vh 3vh;
	}
	.quiz--wrapper {
		height: 75vh;
	}
	.quiz--inject {
		height: 55vh;
	}
	.respostas div {
		margin: 2vh 0;
	}
}

@media (min-width: 768px) and (orientation: portrait) {
	:root {
		font-size: 2.5vh;
	}
	body {
		margin: auto;
		width: 90%;
	}
	.slide-ativo .respostas div {
		margin: 1vh;
	}
}

@media (min-width: 1024px) and (orientation: portrait) {
	:root {
		font-size: 3vh;
	}
	body {
		height: 60vh;
	}
	main {
		margin: 8vh auto 1vh;
		width: 65vh;
	}
	.slide-ativo .respostas div {
		margin: 1vh;
	}
	footer > .com-amor {
		font-size: 0.625rem;
	}
	.com-amor > span {
		font-size: 0.5rem;
	}
}

/* ~~~~~~~~~~~ LANDSCAPE ~~~~~~~~~~~~ */

@media (min-width: 300px) and (orientation: landscape) {
	:root {
		font-size: 4vh;
	}
	main {
		margin-bottom: 1vh;
	}
	.slide_resultado {
		height: 80%;
		width: auto;
	}
	.slide_resultado [class^='porcentagem'] {
		width: auto;
		height: 100%;
	}
	.slide_resultado [class^='porcentagem'] img {
		width: auto;
		height: 100%;
	}
	.slide_resultado [class^='porcentagem'] span {
		margin: 2vh 15vh 0;
	}
	footer {
		margin-top: 1vh;
	}
}
@media (min-width: 567px) and (orientation: landscape) {
	:root {
		font-size: 3vh;
	}
	body {
		height: 60vh;
		width: 100%;
	}
	main {
		margin: 5vh;
		margin-bottom: 0;
	}
	.quiz--wrapper {
		justify-content: space-around;
		align-items: center;
	}
	.pergunta span {
		font-size: 1rem;
	}
	.respostas div {
		margin: 2vh 0;
	}
	footer {
		margin: 0.0625rem auto 0;
	}
	footer > .com-amor {
		font-size: small;
	}
	.com-amor > span {
		font-size: x-small;
	}
}

@media (min-width: 1024px) and (orientation: landscape) {
	:root {
		font-size: 3vh;
	}
	main {
		width: 90vw;
		max-width: 50rem;
		margin: 4vh auto;
	}
	.quiz--inject {
		height: 60vh;
	}
	/* .slide_resultado {
		height: auto;
	} */
	/* .slide-ativo,
	slide {
		height: 50vh;
	} */
	.slide-ativo .respostas div {
		margin: 1rem 0;
	}
	footer > .com-amor {
		font-size: 1rem;
	}
	.com-amor > span {
		font-size: 0.8rem;
	}
}

.invisivel {
	display: none;
}
